{{#section 'head'}}
  <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Danh sách phiếu thuê phòng</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/educate-custon-icon.css">
    <!-- modals CSS
		============================================ -->
    <link rel="stylesheet" href="/css/modals.css">
    {{!-- <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/css/morrisjs/morris.css"> --}}
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/css/calendar/fullcalendar.print.min.css">
    <!-- x-editor CSS
		============================================ -->
    <link rel="stylesheet" href="/css/editor/select2.css">
    <link rel="stylesheet" href="/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="/css/editor/x-editor-style.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="/css/data-table/bootstrap-editable.css">
	<link rel="stylesheet" href="/css/alerts.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <link rel="stylesheet" href="/css/my-css.css">  
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
	<script src="/js/util/alert.js"></script>

	<link rel="stylesheet" href="/css/datapicker/datepicker3.css"> 	
{{/section}}

<div class="container-fluid mg-b-15" style="display: flex; flex-direction:column;  width: 100%">
		<div id="search-form" class="sr-input-func" style="width: 100%;">
			<div class="breadcome-heading my-search-row">
				<div class="my-search-group" style="min-width:300px">
					<input 
						type="text" 
						name="guestName"
						placeholder="Nhập mã phòng" 
						id="search-input"
						class="search-int form-control"
						style="width:100%"
						{{#if queryRoom}}
							value="{{queryRoom}}"
						{{/if}}		
					>
					<button type="button" onclick="submitQuery(this)"><i class="fa fa-search"></i></button>
				</div>
			</div>
		</div>
		<div class="row my-search-row" style="position: relative;">
			<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
				<h5 style="margin-top: 15px !important">Ngày thuê:</h5>
			</div>
			<div class="form-group data-custon-pick data-custom-mg col-lg-4 col-sm-8" id="data_5">
				<div class="input-daterange input-group" id="datepicker">
					<input type="text" class="form-control date-rent" name="start" value="05/14/2022">
					<span class="input-group-addon">đến</span>
					<input type="text" class="form-control date-rent" name="end" value="05/22/2022">
				</div>
			</div>

			<div class="add-product rent-room">
				<a href="/room">Thuê phòng</a>
			</div>
		</div>
		<div class="product-status-wrap" style="flex: 1 1 auto; display:flex; flex-direction:column">
			<div class="asset-inner" style="flex: 1 1 auto;">
				<table>
					<thead>
						<tr>
							<th>STT</th>
							<th>Phòng</th>
							<th>Ngày thuê</th>
							<th>Tình trạng</th>
							<th>Hành động</th>
						</tr>
					</thead>
					<tbody id="table-body">
						<tr>
							<td>1</td>
							<td>101</td>
							<td>10/05/2022</td>
							<td>Đang thuê</td>
							<td>
                                <a href="/rent/edit" style="color: black;"><button data-toggle="tooltip" title="Cập nhật" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                <a href="/bill/add" style="color: black;"><button data-toggle="tooltip" title="Thanh toán" class="pd-setting-ed"><i class="fa fa-check edu-checked-pro" aria-hidden="true"></i></button></a>
                            </td>
						</tr>
						<tr>
							<td>2</td>
							<td>101</td>
							<td>10/05/2022</td>
							<td>Đã thanh toán</td>
							<td>
                                <a href="/rent/edit" style="color: black;"><button data-toggle="tooltip" title="Cập nhật" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                <button title="Xóa" class="pd-setting-ed" data-toggle="modal" data-target="#delete-rent-room-modal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
						</tr>
						<tr>
							<td>3</td>
							<td>101</td>
							<td>10/05/2022</td>
							<td>Đã thanh toán</td>
							<td>
                                <a href="/rent/edit" style="color: black;"><button data-toggle="tooltip" title="Cập nhật" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                <button title="Xóa" class="pd-setting-ed" data-toggle="modal" data-target="#delete-rent-room-modal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
						</tr>
						<tr>
							<td>4</td>
							<td>101</td>
							<td>10/05/2022</td>
							<td>Đã thanh toán</td>
							<td>
                                <a href="/rent/edit" style="color: black;"><button data-toggle="tooltip" title="Cập nhật" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                <button title="Xóa" class="pd-setting-ed" data-toggle="modal" data-target="#delete-rent-room-modal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
						</tr>
						<tr>
							<td>5</td>
							<td>101</td>
							<td>10/05/2022</td>
							<td>Đã thanh toán</td>
							<td>
                                <a href="/rent/edit" style="color: black;"><button data-toggle="tooltip" title="Cập nhật" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                <button title="Xóa" class="pd-setting-ed" data-toggle="modal" data-target="#delete-rent-room-modal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
						</tr>
					</tbody>
				</table>
			</div>
			<div  id="delete-rent-room-modal" class="modal modal-edu-general FullColor-popup-DangerModal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-close-area modal-close-df">
							<a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
						</div>
						<div class="modal-body">
							<span class="educate-icon educate-danger modal-check-pro information-icon-pro"></span>
							<h2 id="modal-text">Xóa phiếu thuê phòng này?</h2>
							<!-- <p>If you delete this product, they can not access the shop's website anymore.</p> -->
						</div>
						<div class="modal-footer danger-md">
							<button class="btn btn-danger " type="button" data-dismiss="modal">Hủy</button>
							<form method="post" style="display: none;" id="delete-room-form"></form>
							<button class="btn btn-danger" id="submit-delete-form" type="button">Xóa</button>
						</div>
					</div>
				</div>
			</div>
			{{#if paginationArray}}
				<form 	
					method="get"
					action="/rent-room-history"
				>
					<ul class="my-pagination" id="my-pagination">
						<li class="my-page-item">
							<input onchange="submitQuery(this)" style="display: none;" id="page-prev" value="{{prevPage}}" type="radio" name="page"/>
							<label for="page-prev"  class="my-page-button">Trang trước</label>
						</li>
						{{#each paginationArray}}
							{{#if this.isCurrent}}
								<li class="my-page-item">
									<input checked onchange="submitQuery(this)" style="display: none;" id="page-{{this.page}}" value="{{this.page}}" type="radio" name="page"/>
									<label for="page-{{this.page}}"  class="my-page-link my-current-page">{{this.page}}</label>
								</li>
							{{else}}
								<li class="my-page-item">
									<input onchange="submitQuery(this)" style="display: none;" id="page-{{this.page}}" value="{{this.page}}" type="radio" name="page"/>
									<label for="page-{{this.page}}"  class="my-page-link">{{this.page}}</label>
								</li>
							{{/if}}
						{{/each}}
						<li class="my-page-item">
							<input onchange="submitQuery(this)" style="display: none;" id="page-next" value="{{nextPage}}" type="radio" name="page"/>
							<label for="page-next"  class="my-page-button">Trang sau</label>
						</li>
					</ul>
				</form>
			{{/if}}
		</div>
</div>

{{#section 'script'}}
      <!-- jquery
		============================================ -->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/js/jquery.scrollUp.min.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="/js/counterup/jquery.counterup.min.js"></script>
    <script src="/js/counterup/waypoints.min.js"></script>
    <script src="/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="/js/metisMenu/metisMenu.min.js"></script>
    <script src="/js/metisMenu/metisMenu-active.js"></script>
    <!-- data table JS
		============================================ -->
    <script src="/js/data-table/bootstrap-table.js"></script>
    <script src="/js/data-table/tableExport.js"></script>
    <script src="/js/data-table/data-table-active.js"></script>
    <script src="/js/data-table/bootstrap-table-editable.js"></script>
    <script src="/js/data-table/bootstrap-editable.js"></script>
    <script src="/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="/js/data-table/colResizable-1.5.source.js"></script>
    <script src="/js/data-table/bootstrap-table-export.js"></script>
    <!--  editable JS
        ============================================ -->
    <script src="/js/editable/jquery.mockjax.js"></script>
    <script src="/js/editable/mock-active.js"></script>
    <script src="/js/editable/select2.js"></script>
    <script src="/js/editable/moment.min.js"></script>
    <script src="/js/editable/bootstrap-datetimepicker.js"></script>
    <script src="/js/editable/bootstrap-editable.js"></script>
    <script src="/js/editable/xediable-active.js"></script>
    <!-- Chart JS
        ============================================ -->
    <script src="/js/chart/jquery.peity.min.js"></script>
    <script src="/js/peity/peity-active.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="/js/tab.js"></script>
    <!-- morrisjs JS
		============================================ -->
    {{!-- <script src="/js/morrisjs/raphael-min.js"></script>
    <script src="/js/morrisjs/morris.js"></script>
    <script src="/js/morrisjs/morris-active.js"></script> --}}
    <!-- morrisjs JS
		============================================ -->
    <script src="/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="/js/sparkline/sparkline-active.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="/js/calendar/moment.min.js"></script>
    <script src="/js/calendar/fullcalendar.min.js"></script>
    <script src="/js/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/js/main.js"></script>
    <!-- tawk chat JS
		============================================ -->
    <!-- <script src="/js/tawk-chat.js"></script> -->

	<!-- MY JAVASCRIPT
		============================================ -->
	<script src="/js/numeral.js"></script>
	<script src="/js/util/generatePager.js"></script>
	<script src="/js/util/ajaxAPI.js"></script>
	<script src="/js/util/queryString.js"></script>
	<script>
		$('.form-control.date-rent').datepicker();
	</script>
{{/section}}