{{#section 'head'}}
  <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Danh sách Nhân viên</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/educate-custon-icon.css">
    <!-- modals CSS
		============================================ -->
    <link rel="stylesheet" href="/css/modals.css">
    {{!-- <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/css/morrisjs/morris.css"> --}}
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/css/calendar/fullcalendar.print.min.css">
    <!-- x-editor CSS
		============================================ -->
    <link rel="stylesheet" href="/css/editor/select2.css">
    <link rel="stylesheet" href="/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="/css/editor/x-editor-style.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="/css/data-table/bootstrap-editable.css">
	<link rel="stylesheet" href="/css/alerts.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <link rel="stylesheet" href="/css/my-css.css">  
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
	<script src="/js/util/alert.js"></script>
{{/section}}
    <div class="container-fluid mg-b-15" style="display: flex; flex-direction:column;  width: 100%">
		<div class="row my-search-row breadcome-heading" style="position: relative;">
			<div class="my-search-group" id="search-form">
                <input 
                    type="text" 
                    name="name"
                    placeholder="Nhập tên nhân viên" 
                    id="search-input"
                    class="search-int form-control"
					{{#if queryFullname}}
						value="{{queryFullname}}"
					{{/if}}
                >
                <button type="button" onclick="submitQuery(this)"><i class="fa fa-search"></i></button>
            </div>

			<div class="add-product">
				<a href="/admin/add">Thêm Nhân viên</a>
			</div>
		</div>
		<div class="product-status-wrap" style="flex: 1 1 auto; display:flex; flex-direction:column">
			<div class="asset-inner" style="flex: 1 1 auto;">
				<table>
					<thead>
						<tr>
							<th>STT</th>
							<th>Mã nhân viên</th>
							<th>Họ tên</th>
							<th>Tên đăng nhập</th>
							<th>Hành động</th>
						</tr>
					</thead>
					<tbody id="table-body">
						{{#each admin}}
							<tr>
								<td>{{this.index}}</td>
								<td>{{this.id}}</td>
								<td>{{this.fullname}}</td>
								<td>{{this.username}}</td>
								<td>
									<a href="/admin/{{this.id}}" style="color: black;"><button data-toggle="tooltip" title="Xem chi tiết" class="pd-setting-ed"><i class="educate-icon educate-info modal-check-pro information-icon-pro" aria-hidden="true"></i></button></a>
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			{{#if paginationArray}}
				<form 	
					method="get"
					action="/admin"
				>
					<ul class="my-pagination" id="my-pagination">
						<li class="my-page-item">
							<input onchange="submitQuery(this)" style="display: none;" id="page-prev" value="{{prevPage}}" type="radio" name="page"/>
							<label for="page-prev"  class="my-page-button">Trang trước</label>
						</li>
						{{#each paginationArray}}
							{{#if this.isCurrent}}
								<li class="my-page-item">
									<input checked onchange="submitQuery(this)" style="display: none;" id="page-{{this.page}}" value="{{this.page}}" type="radio" name="page"/>
									<label for="page-{{this.page}}"  class="my-page-link my-current-page">{{this.page}}</label>
								</li>
							{{else}}
								<li class="my-page-item">
									<input onchange="submitQuery(this)" style="display: none;" id="page-{{this.page}}" value="{{this.page}}" type="radio" name="page"/>
									<label for="page-{{this.page}}"  class="my-page-link">{{this.page}}</label>
								</li>
							{{/if}}
						{{/each}}
						<li class="my-page-item">
							<input onchange="submitQuery(this)" style="display: none;" id="page-next" value="{{nextPage}}" type="radio" name="page"/>
							<label for="page-next"  class="my-page-button">Trang sau</label>
						</li>
					</ul>
				</form>
			{{/if}}
		</div>
    </div>
{{#section 'script'}}
      <!-- jquery
		============================================ -->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/js/jquery.scrollUp.min.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="/js/counterup/jquery.counterup.min.js"></script>
    <script src="/js/counterup/waypoints.min.js"></script>
    <script src="/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="/js/metisMenu/metisMenu.min.js"></script>
    <script src="/js/metisMenu/metisMenu-active.js"></script>
    <!-- data table JS
		============================================ -->
    <script src="/js/data-table/bootstrap-table.js"></script>
    <script src="/js/data-table/tableExport.js"></script>
    <script src="/js/data-table/data-table-active.js"></script>
    <script src="/js/data-table/bootstrap-table-editable.js"></script>
    <script src="/js/data-table/bootstrap-editable.js"></script>
    <script src="/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="/js/data-table/colResizable-1.5.source.js"></script>
    <script src="/js/data-table/bootstrap-table-export.js"></script>
    <!--  editable JS
        ============================================ -->
    <script src="/js/editable/jquery.mockjax.js"></script>
    <script src="/js/editable/mock-active.js"></script>
    <script src="/js/editable/select2.js"></script>
    <script src="/js/editable/moment.min.js"></script>
    <script src="/js/editable/bootstrap-datetimepicker.js"></script>
    <script src="/js/editable/bootstrap-editable.js"></script>
    <script src="/js/editable/xediable-active.js"></script>
    <!-- Chart JS
        ============================================ -->
    <script src="/js/chart/jquery.peity.min.js"></script>
    <script src="/js/peity/peity-active.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="/js/tab.js"></script>
    <!-- morrisjs JS
		============================================ -->
    {{!-- <script src="/js/morrisjs/raphael-min.js"></script>
    <script src="/js/morrisjs/morris.js"></script>
    <script src="/js/morrisjs/morris-active.js"></script> --}}
    <!-- morrisjs JS
		============================================ -->
    <script src="/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="/js/sparkline/sparkline-active.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="/js/calendar/moment.min.js"></script>
    <script src="/js/calendar/fullcalendar.min.js"></script>
    <script src="/js/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/js/main.js"></script>
    <!-- tawk chat JS
		============================================ -->
    <!-- <script src="/js/tawk-chat.js"></script> -->

	<!-- MY JAVASCRIPT
		============================================ -->
	<script src="/js/numeral.js"></script>
	<script src="/js/util/generatePager.js"></script>
	<script src="/js/util/ajaxAPI.js"></script>
	<script src="/js/util/queryString.js"></script>
	<script>
		function generateAdmin(adminList){
			return adminList.map(admin=>{
				return `
					<tr>
						<td>${admin.index}</td>
						<td>${admin.id}</td>
						<td>${admin.fullname}</td>
						<td>${admin.username}</td>
						<td>
							<a href="/admin/${admin.id}" style="color: black;"><button data-toggle="tooltip" title="Xem chi tiết" class="pd-setting-ed"><i class="educate-icon educate-info modal-check-pro information-icon-pro" aria-hidden="true"></i></button></a>
						</td>
					</tr>
				`
			})
		}

		const successCallback = (data) => {
			$("#my-pagination").empty();
			if(data.paginationArray && data.paginationArray.length > 0){
				const pageView = generatePager(data.paginationArray, data.prevPage, data.nextPage, "submitQuery(this)");
				pageView.forEach(page=>{
					$("#my-pagination").append(page);
				});
			
			}
			const adminList = generateAdmin(data.admin);
			$("#table-body").empty();
			adminList.forEach(admin=>{
				$("#table-body").append(admin);
			});
		}

		const errorCallback = (error) => {
			console.log(error);
			createAlert("error", "Có lỗi xảy ra, vui lòng thử lại!")
		}

		function submitQuery(ele){
			const data = {};
			data.fullname = $("input[name='name']").val();
			data.page = $("input[name='page']:checked").val();
			if(!data.page){
				data.page = '1';
			}
			if(ele && ele.getAttribute("name") !== "page"){
				data.page = '1';
			}
			const newRelativePathQuery = window.location.pathname + '?' + queryString(data);
			history.pushState(null, '', newRelativePathQuery);
			fetchData('get', data, '/admin/api', successCallback, errorCallback);
		}
	</script>
{{/section}}