{{#section 'head'}}
  <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tạo hóa đơn</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/educate-custon-icon.css">
    <!-- modals CSS
		============================================ -->
    <link rel="stylesheet" href="/css/modals.css">
    {{!-- <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/css/morrisjs/morris.css"> --}}
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/css/calendar/fullcalendar.print.min.css">
    <!-- x-editor CSS
		============================================ -->
    <link rel="stylesheet" href="/css/editor/select2.css">
    <link rel="stylesheet" href="/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="/css/editor/x-editor-style.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="/css/data-table/bootstrap-editable.css">
	<link rel="stylesheet" href="/css/alerts.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <link rel="stylesheet" href="/css/my-css.css">  
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
{{/section}}
<div class="container-fluid mg-b-15" style="display: flex; flex-direction:column;  width: 100%;">
  <div class="product-payment-inner-st">
    <ul id="myTabedu1" class="tab-review-design">
      <li class="active"><a href="#description">Thanh toán</a></li>
    </ul>
  </div>
  <div class="my-search-row">
		<div class="row" style="position: relative;">
			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
        <label class="login2" style="padding-top: 10px;">Khách hàng/Cơ quan:</label>
      </div>
      <div class="col-lg-3 col-md-9 col-sm-9 col-xs-12">
        <input type="text" name="guestName" required="" class="form-control" placeholder="Nhập tên khách hàng/cơ quan">
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
        <label class="login2 pull-right pull-right-pro" style="padding-top: 10px;">Địa chỉ:</label>
      </div>
      <div class="col-lg-3 col-md-9 col-sm-9 col-xs-12">
        <input type="text" name="guestAddress" required="" class="form-control" placeholder="Nhập địa chỉ khách hàng/cơ quan">
      </div>
      <div class="add-product add-room">
				<a href="#" data-toggle="modal" data-target="#add-rent-room-modal">Thêm phòng</a>
			</div>
    </div>
    <div class="row mg-t-10">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
			<label class="login2" style="padding-top: 10px;">Ngày thanh toán:</label>
		</div>
		<div class="col-lg-3 col-md-9 col-sm-9 col-xs-12">
			<input type="text" name="dateCreated" readonly="" class="form-control" value="{{today }}">
		</div>
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
			<label class="login2 pull-right pull-right-pro" style="padding-top: 10px;">Trị giá:</label>
		</div>
		<div class="col-lg-3 col-md-9 col-sm-9 col-xs-12">
			<input type="text" name="totalBillCost" readonly="" class="form-control" value="{{currency 0}}">
		</div>
    </div>
  	</div>
		<div class="product-status-wrap" style="flex: 1 1 auto; display:flex; flex-direction:column;">
			<div class="asset-inner" style="flex: 1 1 auto;">
				<table>
					<thead>
						<tr>
							<th>STT</th>
							<th>Phòng</th>
							<th>Số ngày</th>
							<th>Đơn giá</th>
              				<th>Thành tiền</th>
							<th>Hành động</th>
						</tr>
					</thead>
					<tbody id="table-body" style="padding-bottom: 100px !important">
						
					</tbody>
				</table>
			</div>
			<div  id="delete-rent-room-modal" class="modal modal-edu-general FullColor-popup-DangerModal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-close-area modal-close-df">
							<a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
						</div>
						<div class="modal-body">
							<span class="educate-icon educate-danger modal-check-pro information-icon-pro"></span>
							<h2 id="modal-text">Xóa phòng này</h2>
						</div>
						<div class="modal-footer danger-md">
							<button class="btn btn-danger " type="button" data-dismiss="modal">Hủy</button>
							<button class="btn btn-danger" id="delete-rent-room-btn" type="button">Xóa</button>
						</div>
					</div>
				</div>
			</div>

			<div id="update-rent-room-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						
						<h6 class="title col-xs-12" style="padding: 14px; background-color: #006df0; color: white">Cập nhật phòng thuê</h6>
						<div class="modal-close-area modal-close-df">
							<a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
						</div>
						<div class="col-md-6 col-sm-12 col-xs-12">
							<label for="#update-room-id-select">Phòng:</label>
							<select onchange="updateChangeRoomId(this)" id="update-room-id-select" class="form-control" name="typeId">
								
							</select>
						</div>

						<div class="col-md-6 col-sm-12 col-xs-12">
							<label for="#rent-date">Ngày thuê:</label>
							<input type="text" id="update-rent-date" readonly class="form-control" value="">
						</div>
						<input style="display: none;" type="text" id="update-num-rent-days" readonly="" class="form-control" value="">
						<input style="display: none;" type="text" id="update-price" readonly="" class="form-control" value="">
						<input style="display: none;" type="text" id="update-total-cost" readonly="" class="form-control" value="">
							
						<div class="product-status-wrap" style="flex: 1 1 auto; display:flex; flex-direction:column;">
							<div class="asset-inner" style="flex: 1 1 auto; overflow: hidden !important">
								<table>
									<thead style="min-height: 240px">
										<tr>
											<th>STT</th>
											<th>Khách hàng</th>
											<th>Loại khách</th>
											<th>CMND</th>
											<th>Địa chỉ</th>
										</tr>
										<tbody id="update-guest-table-body" style="padding-bottom: 100px !important">
											
										</tbody>
									</thead>
								</table>
							</div>

							<div class="modal-footer primary-md">
								<button class="btn" style="background-color: #006df0; color:white" type="button" data-dismiss="modal">Hủy</button>
								<button class="btn" style="background-color: #006df0; color:white" id="update-room-rent-btn" type="button">Xác nhận</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="add-rent-room-modal"class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						
						<h6 class="title col-xs-12" style="padding: 14px; background-color: #006df0; color: white">Thêm phòng thuê</h6>
						<div class="modal-close-area modal-close-df">
							<a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
						</div>
						<div class="col-md-6 col-sm-12 col-xs-12">
							<label for="#add-room-id-select">Phòng:</label>
							<select onchange="changeRoomId(this)" id="add-room-id-select" class="form-control" name="roomId">
								{{#each roomRentList}}
									<option id="room-option-{{this.id}}" value="{{this.id}}" data-roomid="{{this.room.roomId}}">{{this.room.roomId}}</option>
								{{/each}}
							</select>
						</div>

						{{#with roomRentFirst}}
							<div class="col-md-6 col-sm-12 col-xs-12">
								<label for="#rent-date">Ngày thuê:</label>
								<input type="text" id="rent-date" readonly="" class="form-control" value="{{rentdate}}">
							</div>
							<input style="display: none;" type="text" id="num-rent-days" readonly="" class="form-control" value="{{numRentDays}}">
							<input style="display: none;" type="text" id="price" readonly="" class="form-control" value="{{room.roomtype.price}}">
							<input style="display: none;" type="text" id="total-cost" readonly="" class="form-control" value="{{totalCost}}">
							<div class="product-status-wrap" style="flex: 1 1 auto; display:flex; flex-direction:column;">
								<div class="asset-inner" style="flex: 1 1 auto; overflow: hidden !important">
									<table>
										<thead style="min-height: 240px">
											<tr>
												<th>STT</th>
												<th>Khách hàng</th>
												<th>Loại khách</th>
												<th>CMND</th>
												<th>Địa chỉ</th>
											</tr>
											<tbody id="guest-table-body" style="padding-bottom: 100px !important">
												{{#each guests}}
													<tr>
														<td>{{this.numorder}}</td>
														<td>{{this.fullname}}</td>
														<td>{{this.guesttype.typeName}}</td>
														<td>{{this.identityNumber}}</td>
														<td>{{this.address}}</td>
													</tr>
												{{/each}}
											</tbody>
										</thead>
									</table>
								</div>

								<div class="modal-footer primary-md">
									<button class="btn" style="background-color: #006df0; color:white" type="button" data-dismiss="modal">Hủy</button>
									<button class="btn" style="background-color: #006df0; color:white" id="add-room-rent-btn" type="button">Xác nhận</button>
								</div>
							</div>
						{{/with}}
					</div>
				</div>
			</div>
		</div>
	<div class="row" style="position: relative;">
    	<div class="btn-confirm">
			<a href="#" type="button" id="add-bill-btn">Xác nhận</a>
		</div>
	</div>
</div>

{{#section 'script'}}
 <!-- jquery
		============================================ -->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="/js/metisMenu/metisMenu.min.js"></script>
    <script src="/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/js/sparkline/jquery.charts-sparkline.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="/js/calendar/moment.min.js"></script>
    <script src="/js/calendar/fullcalendar.min.js"></script>
    <script src="/js/calendar/fullcalendar-active.js"></script>
    <!-- tab JS
		============================================ -->
    <script src="/js/tab.js"></script>
    <!-- form validate JS
		============================================ -->
    <script src="/js/form-validation/jquery.form.min.js"></script>
    <script src="/js/form-validation/jquery.validate.min.js"></script>
    <script src="/js/form-validation/form-active.js"></script>
    <!-- datapicker JS
		============================================ -->
    <script src="/js/datapicker/bootstrap-datepicker.js"></script>
    <script src="/js/datapicker/datepicker-active.js"></script>
    <!-- tab JS
		============================================ -->
    <script src="/js/tab.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/js/main.js"></script>
    <!-- tawk chat JS
		============================================ -->
    <!-- <script src="/js/tawk-chat.js"></script> -->
	<!-- MY JAVASCRIPT
		============================================ -->
	<script src="/js/numeral.js"></script>
	<script src="/js/util/generatePager.js"></script>
	<script src="/js/util/ajaxAPI.js"></script>
	<script src="/js/util/queryString.js"></script>
	<script src="/js/util/alert.js"></script>
	<script>
		const roomRentId = {{{json roomRentId}}};
		const roomRentOption = {{{json roomRentList}}};
		let roomRentList = [];
		let totalBillCost = 0;
		let seletedRoomRent = null;
		let deletedRoomRentId = null;

		function generateGuestList(guestList){
			return guestList.map(guest=>{
				return `
					<tr>
						<td>${guest.numorder}</td>
						<td>${guest.fullname}</td>
						<td>${guest.guesttype.typeName}</td>
						<td>${guest.identityNumber}</td>
						<td>${guest.address}</td>
					</tr>
				`
			})
		}

		function generateRoomRentList(roomList){
			return roomList.map((room, index)=>{
				return `<tr>
							<td>${index + 1}</td>
							<td>${room.roomId}</td>
							<td>${room.numRentDays}</td>
							<td>${numeral(room.price).format('0,0') + " VND"}</td>
							<td>${numeral(room.totalCost).format('0,0') + " VND"}</td>
							<td>
								<button data-id="${room.id}" data-toggle="modal" data-target="#update-rent-room-modal" title="Cập nhật" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
								<button data-id="${room.id}" title="Xóa" class="pd-setting-ed" data-toggle="modal" data-target="#delete-rent-room-modal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
							</td>
						</tr>`
			})
		}

		const addTableSuccessCallback = (data) => {
			const id = roomRentId;
			console.log(roomRentId);
			const roomId = $("#room-option-" + id).data("roomid");
			const rentdate = data.rentdate;
			const numRentDays = data.numRentDays;
			const price = data.price;
			const totalCost = data.totalCost;
			const roomRent = {id, roomId, rentdate, numRentDays, price, totalCost};

			roomRentList.push(roomRent);
			totalBillCost += parseInt(roomRent.totalCost);

			$("input[name='totalBillCost'").val(numeral(totalBillCost).format('0,0') + " VND");
			const rooms = generateRoomRentList(roomRentList);
			$("#table-body").empty();
			rooms.forEach(room=>{
				$("#table-body").append(room);
			});
			resetOption();
		}

		const addSuccessCallback = (data) => {
			$("input[id='rent-date']").val(data.rentdate);
			$("input[id='num-rent-days']").val(data.numRentDays);
			$("input[id='price']").val(data.price);
			$("input[id='total-cost']").val(data.totalCost);
			const guests = generateGuestList(data.roomRentGuests);
			$("#guest-table-body").empty();
			guests.forEach(guest=>{
				$("#guest-table-body").append(guest);
			});
		}

		const updateSuccessCallback = (data) => {
			$("input[id='update-rent-date']").val(data.rentdate);
			$("input[id='update-num-rent-days']").val(data.numRentDays);
			$("input[id='update-price']").val(data.price);
			$("input[id='update-total-cost']").val(data.totalCost);
			const guests = generateGuestList(data.roomRentGuests);
			$("#update-guest-table-body").empty();
			guests.forEach(guest=>{
				$("#update-guest-table-body").append(guest);
			});
		}

		const errorCallback = (error) => {
			console.log(error);
			createAlert("error", "Có lỗi xảy ra, vui lòng thử lại!")
		}

		function changeRoomId(ele){
			const roomRentId = $("select[id='add-room-id-select']").val();
			//const newRelativePathQuery = window.location.pathname + '?' + queryString({roomRentId});
			//history.pushState(null, '', newRelativePathQuery);
			fetchData('get', {roomRentId}, '/bill/add/api', addSuccessCallback, errorCallback);
		}

		function updateChangeRoomId(ele){
			const roomRentId = $("select[id='update-room-id-select']").val();
			//const newRelativePathQuery = window.location.pathname + '?' + queryString({roomRentId});
			//history.pushState(null, '', newRelativePathQuery);
			fetchData('get', {roomRentId}, '/bill/add/api', updateSuccessCallback, errorCallback);
		}

		const resetOption = ()=>{
			const roomRentOptionUpdate = roomRentOption.filter(({ id: id1 }) => !roomRentList.some(({ id: id2 }) => parseInt(id2) === id1));
			$("#add-room-id-select").empty();
			roomRentOptionUpdate.forEach(room=>{
				$("#add-room-id-select").append(`
					<option id="room-option-${room.id}" value="${room.id}" data-roomid="${room.room.roomId}">${room.room.roomId}</option>
				`);
			});
			const roomRentId = roomRentOptionUpdate[0].id;
			fetchData('get', {roomRentId}, '/bill/add/api', addSuccessCallback, errorCallback);
		}

		const handleAddRentRoom = () => {
			const id = $("select[id='add-room-id-select']").val();
			const roomId = $("#room-option-" + id).data("roomid");
			const rentdate = $("input[id='rent-date']").val();
			const numRentDays = $("input[id='num-rent-days']").val();
			const price = $("input[id='price']").val();
			const totalCost = $("input[id='total-cost']").val();
			const roomRent = {id, roomId, rentdate, numRentDays, price, totalCost};

			roomRentList.push(roomRent);
			totalBillCost += parseInt(roomRent.totalCost);

			$("input[name='totalBillCost'").val(numeral(totalBillCost).format('0,0') + " VND");
			const rooms = generateRoomRentList(roomRentList);
			$("#table-body").empty();
			rooms.forEach(room=>{
				$("#table-body").append(room);
			});

			createAlert("success", "Thêm phòng thuê thành công!");
			resetOption();
			document.getElementById("add-room-rent-btn").setAttribute("data-dismiss", "modal");
		}

		const handleUpdateRentRoom = () => {
			const id = $("select[id='update-room-id-select']").val();
			const roomId = $("#update-room-option-" + id).data("roomid");
			const rentdate = $("input[id='update-rent-date']").val();
			const numRentDays = $("input[id='update-num-rent-days']").val();
			const price = $("input[id='update-price']").val();
			const totalCost = $("input[id='update-total-cost']").val();
			const roomRent = {id, roomId, rentdate, numRentDays, price, totalCost};

			const indexUpdate = roomRentList.findIndex((room => room.id === seletedRoomRent.id));
			totalBillCost -= parseInt(roomRentList[indexUpdate].totalCost);
			roomRentList[indexUpdate] = roomRent;
			totalBillCost += parseInt(roomRentList[indexUpdate].totalCost);

			$("input[name='totalBillCost'").val(numeral(totalBillCost).format('0,0') + " VND");
			const rooms = generateRoomRentList(roomRentList);
			$("#table-body").empty();
			rooms.forEach(room=>{
				$("#table-body").append(room);
			});
			
			createAlert("success", "Cập nhật phòng thuê thành công!");
			resetOption();
			document.getElementById("update-room-rent-btn").setAttribute("data-dismiss", "modal");
		}

		const handleDeleteRentRoom = () => {
			const indexDelete = roomRentList.findIndex((room => parseInt(room.id) === deletedRoomRentId));
			totalBillCost -= parseInt(roomRentList[indexDelete].totalCost);
			roomRentList.splice(indexDelete, 1);
			
			$("input[name='totalBillCost'").val(numeral(totalBillCost).format('0,0') + " VND");
			const rooms = generateRoomRentList(roomRentList);
			$("#table-body").empty();
			rooms.forEach(room=>{
				$("#table-body").append(room);
			});
			
			createAlert("success", "Xóa phòng thuê thành công!");
			resetOption();
			document.getElementById("delete-rent-room-btn").setAttribute("data-dismiss", "modal");
		}

		const handleAddBill = (e) => {
			e.preventDefault();
			const guestName = $("input[name='guestName']").val();
			const guestAddress = $("input[name='guestAddress']").val();
			
			const addBillForm = document.createElement("form");
			addBillForm.setAttribute("method", "post");
			addBillForm.setAttribute("action", "add");

			const guestNameEle = document.createElement("input");
			guestNameEle.setAttribute("type", "text");
			guestNameEle.setAttribute("name", "guestName");
			guestNameEle.value = guestName;
			addBillForm.append(guestNameEle);

			const guestAddressEle = document.createElement("input");
			guestAddressEle.setAttribute("type", "text");
			guestAddressEle.setAttribute("name", "guestAddress");
			guestAddressEle.value = guestAddress;
			addBillForm.append(guestAddressEle);

			const roomJson = JSON.stringify(roomRentList);
			const roomEle = document.createElement("input");
			roomEle.setAttribute("type", "text");
			roomEle.setAttribute("name", "roomRentsJson");
			roomEle.value = roomJson;
			addBillForm.append(roomEle);

			document.getElementsByTagName("body")[0].appendChild(addBillForm);
			addBillForm.submit();
		}

		$(document).ready(() => {
			const message = {{{json message}}};
			//console.log("message " + message);
			if(message.length > 0){
				//console.log("mesage " + message);
				if(!message[0].success){
					createAlert("error", message[0].message);
				}else{
					createAlert("success", message[0].message);
				}
			}
			
			if (roomRentId)
			{
				fetchData('get', {roomRentId}, '/bill/add/api', addTableSuccessCallback, errorCallback);
			}

			document.getElementById("add-room-rent-btn").addEventListener('click', handleAddRentRoom);
			document.getElementById("update-room-rent-btn").addEventListener('click', handleUpdateRentRoom);
			document.getElementById("delete-rent-room-btn").addEventListener('click', handleDeleteRentRoom);
			document.getElementById("add-bill-btn").addEventListener('click', handleAddBill);

			$('#update-rent-room-modal').on('show.bs.modal', function (event) {
				const button = $(event.relatedTarget);
				const id = button.data('id');
				seletedRoomRent = roomRentList.filter(room => parseInt(room.id) === id)[0];

				const modal = $(this)
				const roomRentOptionUpdate = roomRentOption.filter(({ id: id1 }) => 
					((!roomRentList.some(({ id: id2 }) => parseInt(id2) === id1)) 
						|| (parseInt(seletedRoomRent.id) === id1))
				);
				$("#update-room-id-select").empty();
				roomRentOptionUpdate.forEach(room=>{
					$("#update-room-id-select").append(`
						<option id="update-room-option-${room.id}" value="${room.id}" data-roomid="${room.room.roomId}">${room.room.roomId}</option>
					`);
				});
				modal.find('#update-room-id-select').val(seletedRoomRent.id);
				
				const roomRentId = seletedRoomRent.id;
				fetchData('get', {roomRentId}, '/bill/add/api', updateSuccessCallback, errorCallback);
			})

			$('#delete-rent-room-modal').on('show.bs.modal', function (event) {
				const button = $(event.relatedTarget);
				deletedRoomRentId = button.data('id');
			});
		})
	</script>
{{/section}}