{{#section 'head'}}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hotel Transylvania</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/css/main.css">
	 <!-- modals CSS
		============================================ -->
    <link rel="stylesheet" href="/css/modals.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/educate-custon-icon.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/css/calendar/fullcalendar.print.min.css">
    <!-- forms CSS
		============================================ -->
    <link rel="stylesheet" href="/css/form/all-type-forms.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
	<link rel="stylesheet" href="/css/my-css.css">
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
{{/section}}

<div class="container-fluid mg-b-15" style="display: flex; flex-direction:column;  width: 100%">
	<div class="product-status-wrap mg-b-10 mg-t-10">
		<ul id="myTabedu1" class="tab-review-design" style="padding:0 0 10px 0;">
			<li class="active"><a href="#guest-type">Thay đổi loại khách</a></li>
			<li><a href="#room-type"> Thay đổi loại phòng</a></li>
			<li><a href="#other-rule">Thay đổi các quy định khác</a></li>
		</ul>
	</div>
	<div id="myTabContent" class="tab-content custom-product-edit" style="height: 100%; background: none">
		<div class="product-tab-list tab-pane fade active in my-tab-pane" style="height: 100%;" id="guest-type">
			<div class="product-status-wrap" style="flex: 1 1 auto; display: flex; flex-direction: column">
				<div class="asset-inner" style="flex: 1 1 auto;">
					<table>
						<thead>
							<tr>
								<th>STT</th>
								<th>Loại khách</th>
								<th>Hệ số</th>
								<th>Hành động</th>
							</tr>
						</thead>
						<tbody id="table-body">
							{{#each rule.guestTypes}}
								<tr class="guest-type-row" id="guest-type-{{this.id}}">
									<td>{{sum @index 1}}</td>
									<td>{{this.typeName}}</td>
									<td>{{this.coefficient}}</td>
									<td>
										<button data-id="{{this.id}}" title="Cập nhật" class="pd-setting-ed" data-toggle="modal" data-target="#edit-guest-type-modal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
										<button data-id="{{this.id}}" title="Xóa" class="pd-setting-ed" data-toggle="modal" data-target="#delete-guest-type-modal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
									</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
				<div style="display: flex; justify-content: space-between">
					<form 	
						method="get"
						action="/rule/guest-type"
					>
						<ul class="my-pagination" id="my-pagination" style="padding-left: 0; margin-top: 0"> 
							<li class="my-page-item">
								<input style="display: none;" id="page-prev" value="0" type="radio" name="page"/>
								<label for="page-prev"  class="my-page-button">Trang trước</label>
							</li>
							<li class="my-page-item">
								<input  style="display: none;" id="page-1" value="1" type="radio" name="page"/>
								<label for="page1"  class="my-page-link my-current-page">1</label>
							</li>
								<li class="my-page-item">
								<input  style="display: none;" id="page-2" value="2" type="radio" name="page"/>
								<label for="page-2"  class="my-page-link">2</label>
							</li>
								<li class="my-page-item">
								<input  style="display: none;" id="page-3" value="3" type="radio" name="page"/>
								<label for="page-3"  class="my-page-link">3</label>
							</li>
								<li class="my-page-item">
								<input  style="display: none;" id="page-4" value="4" type="radio" name="page"/>
								<label for="page-4"  class="my-page-link">4</label>
							</li>
							<li class="my-page-item">
								<input  style="display: none;" id="page-5" value="5" type="radio" name="page"/>
								<label for="page-5"  class="my-page-link">5</label>
							</li>
							<li class="my-page-item">
								<input  style="display: none;" id="page-next" value="6" type="radio" name="page"/>
								<label for="page-next"  class="my-page-button">Trang sau</label>
							</li>
						</ul>
					</form>
					<button class="btn btn-primary waves-effect waves-light" type="button" data-toggle="modal" data-target="#add-guest-type-modal">Thêm loại khách</button>
				</div>
				<div  id="delete-guest-type-modal" class="modal modal-edu-general FullColor-popup-DangerModal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-close-area modal-close-df">
								<a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
							</div>
							<div class="modal-body">
								<span class="educate-icon educate-danger modal-check-pro information-icon-pro"></span>
								<h2 id="modal-text">Xóa loại khách này?</h2>
								<!-- <p>If you delete this product, they can not access the shop's website anymore.</p> -->
							</div>
							<div class="modal-footer danger-md">
								<button class="btn btn-danger " type="button" data-dismiss="modal">Hủy</button>
								<form method="post" style="display: none;" id="delete-guest-type-form"></form>
								<button class="btn btn-danger" id="submit-delete-form" type="button">Xóa</button>
							</div>
						</div>
					</div>
				</div>
				<div  id="edit-guest-type-modal" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header header-color-modal bg-color-1" style="padding: 15px;">
								<h4 class="modal-title" style="margin-bottom: 0; color: white">Cập nhật loại khách</h4>
								<div class="modal-close-area modal-close-df">
									<a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
								</div>
							</div>
							<form action="/rule/guest-type/edit" method="post" class="needs-validation "  id="edit-guest-type-form" novalidate>
								<div class="modal-body" style="padding: 0; text-align: left">
									<div style="padding: 20px; background-color: white;">
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="form-group">
													<label for="edit-guest-type-name">Loại khách</label>
													<input id="edit-guest-type-name" name="guestType" type="text" class="form-control" required maxlength="255" placeholder="Loại khách">
												</div>  
												<div class="form-group">
													<label for="edit-coefficient">Hệ số</label>
													<input id="edit-coefficient" name="coefficient" type="text" class="form-control" required maxlength="255" placeholder="Hệ số">
												</div> 
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button class="btn btn-primary waves-effect waves-light" type="button" data-dismiss="modal">Hủy</button>
									<button class="btn btn-primary waves-effect waves-light" type="submit">Lưu</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div  id="add-guest-type-modal" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header header-color-modal bg-color-1" style="padding: 15px;">
								<h4 class="modal-title" style="margin-bottom: 0; color: white">Thêm loại khách</h4>
								<div class="modal-close-area modal-close-df">
									<a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
								</div>
							</div>
							<div class="modal-body" style="padding: 0; text-align: left">
								<div style="padding: 20px; background-color: white;">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<label for="add-guest-type-name">Loại khách</label>
												<input id="add-guest-type-name" name="guestType" type="text" class="form-control" required maxlength="255" placeholder="Loại khách">
											</div>  
											<div class="form-group">
												<label for="add-coefficient">Hệ số</label>
												<input id="add-coefficient" name="coefficient" type="text" class="form-control" required maxlength="255" placeholder="Hệ số">
											</div> 
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary waves-effect waves-light" type="button" data-dismiss="modal">Hủy</button>
								<button class="btn btn-primary waves-effect waves-light" type="button" id="add-guest-type-btn">Thêm</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="product-tab-list tab-pane fade my-tab-pane" style="height: 100%;" id="room-type">
			<div class="product-status-wrap" style="flex: 1 1 auto; display: flex; flex-direction: column">
				<div class="asset-inner" style="flex: 1 1 auto;">
					<table>
						<thead>
							<tr>
								<th>STT</th>
								<th>Loại phòng</th>
								<th>Đơn giá</th>
								<th>Hành động</th>
							</tr>
						</thead>
						<tbody id="table-body">
							{{#each rule.roomTypes}}
								<tr>
									<td>{{sum @index 1}}</td>
									<td>{{this.typeName}}</td>
									<td>{{currency this.price}}</td>
									<td>
										<button data-id="{{this.id}}" title="Cập nhật" class="pd-setting-ed" data-toggle="modal" data-target="#edit-guest-type-modal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
										<button data-id="{{this.id}}" title="Xóa" class="pd-setting-ed" data-toggle="modal" data-target="#delete-guest-type-modal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
									</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
				<div style="display: flex; justify-content: space-between">
					<form 	
						method="get"
						action="/rule/room-type"
					>
						<ul class="my-pagination" id="my-pagination" style="padding-left: 0; margin-top: 0"> 
							<li class="my-page-item">
								<input style="display: none;" id="page-prev" value="0" type="radio" name="page"/>
								<label for="page-prev"  class="my-page-button">Trang trước</label>
							</li>
							<li class="my-page-item">
								<input  style="display: none;" id="page-1" value="1" type="radio" name="page"/>
								<label for="page1"  class="my-page-link my-current-page">1</label>
							</li>
								<li class="my-page-item">
								<input  style="display: none;" id="page-2" value="2" type="radio" name="page"/>
								<label for="page-2"  class="my-page-link">2</label>
							</li>
								<li class="my-page-item">
								<input  style="display: none;" id="page-3" value="3" type="radio" name="page"/>
								<label for="page-3"  class="my-page-link">3</label>
							</li>
								<li class="my-page-item">
								<input  style="display: none;" id="page-4" value="4" type="radio" name="page"/>
								<label for="page-4"  class="my-page-link">4</label>
							</li>
							<li class="my-page-item">
								<input  style="display: none;" id="page-5" value="5" type="radio" name="page"/>
								<label for="page-5"  class="my-page-link">5</label>
							</li>
							<li class="my-page-item">
								<input  style="display: none;" id="page-next" value="6" type="radio" name="page"/>
								<label for="page-next"  class="my-page-button">Trang sau</label>
							</li>
						</ul>
					</form>
					<button class="btn btn-primary waves-effect waves-light" type="button" data-toggle="modal" data-target="#add-room-type-modal">Thêm loại khách</button>
				</div>
				<div  id="delete-room-type-modal" class="modal modal-edu-general FullColor-popup-DangerModal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-close-area modal-close-df">
								<a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
							</div>
							<div class="modal-body">
								<span class="educate-icon educate-danger modal-check-pro information-icon-pro"></span>
								<h2 id="modal-text">Xóa loại phòng này?</h2>
								<!-- <p>If you delete this product, they can not access the shop's website anymore.</p> -->
							</div>
							<div class="modal-footer danger-md">
								<button class="btn btn-danger " type="button" data-dismiss="modal">Hủy</button>
								<form method="post" style="display: none;" id="delete-room-type-form"></form>
								<button class="btn btn-danger" id="submit-delete-form" type="button">Xóa</button>
							</div>
						</div>
					</div>
				</div>
				<div  id="edit-room-type-modal" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header header-color-modal bg-color-1" style="padding: 15px;">
								<h4 class="modal-title" style="margin-bottom: 0; color: white">Cập nhật loại phòng</h4>
								<div class="modal-close-area modal-close-df">
									<a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
								</div>
							</div>
							<form action="/rule/room-type/edit" method="post" class="needs-validation "  id="edit-room-type-form" novalidate>
								<div class="modal-body" style="padding: 0; text-align: left">
									<div style="padding: 20px; background-color: white;">
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="form-group">
													<label for="edit-room-type-name">Loại phòng</label>
													<input id="edit-room-type-name" name="roomType" type="text" class="form-control" required maxlength="255" placeholder="Loại phòng">
												</div>  
												<div class="form-group">
													<label for="edit-price">Đơn giá</label>
													<input id="edit-price" name="price" type="text" class="form-control" required maxlength="255" placeholder="Đơn giá">
												</div> 
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button class="btn btn-primary waves-effect waves-light" type="button" data-dismiss="modal">Hủy</button>
									<button class="btn btn-primary waves-effect waves-light" type="submit">Lưu</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div  id="add-room-type-modal" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header header-color-modal bg-color-1" style="padding: 15px;">
								<h4 class="modal-title" style="margin-bottom: 0; color: white">Thêm loại phòng</h4>
								<div class="modal-close-area modal-close-df">
									<a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
								</div>
							</div>
							<form action="/rule/room-type/add" method="post" class="needs-validation "  id="add-room-type-form" novalidate>
								<div class="modal-body" style="padding: 0; text-align: left">
									<div style="padding: 20px; background-color: white;">
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="form-group">
													<label for="add-room-type-name">Loại phòng</label>
													<input id="add-room-type-name" name="roomType" type="text" class="form-control" required maxlength="255" placeholder="Loại phòng">
												</div>  
												<div class="form-group">
													<label for="add-price">Đơn giá</label>
													<input id="add-price" name="price" type="text" class="form-control" required maxlength="255" placeholder="Đơn giá">
												</div> 
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button class="btn btn-primary waves-effect waves-light" type="button" data-dismiss="modal">Hủy</button>
									<button class="btn btn-primary waves-effect waves-light" type="submit">Thêm</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="product-tab-list tab-pane fade my-tab-pane" style="height: 100%;" id="other-rule">
			<div class="product-status-wrap" style="flex: 1 1 auto; display: flex; flex-direction: column; margin-bottom: 8px; align-items: flex-end;">
				<div class="form-group" style="width: 100%;">
					<label>Số khách tối đa mỗi phòng:</label>
					<input required="" name="maximumGuest" type="number" class="form-control" placeholder="Số khách tối đa" value="{{rule.maximumGuest}}">
				</div>
				<button class="btn btn-primary waves-effect waves-light" type="button">Xác nhận</button>
			</div>
			<div class="product-status-wrap" style="flex: 1 1 auto; display: flex; flex-direction: column; margin-top: 8px; align-items: flex-end;">
				<div class="form-group" style="width: 100%;"style="width: 100%;">
					<label>Phụ thu từ khách thứ:</label>
					<input required="" name="surchagreFrom" type="number" class="form-control" placeholder="Phụ thu từ khách thứ" value="{{rule.surchargeFrom}}" >
				</div>
				<div class="form-group" style="width: 100%;">
					<label>Tỉ lệ phụ thu:</label>
					<input required="" name="surchagre" type="number" class="form-control" placeholder="Tỉ lệ phụ thu" value="{{rule.surcharge}}" >
				</div>
				<button class="btn btn-primary waves-effect waves-light" type="button">Xác nhận</button>
			</div>
		</div>
	</div>
</div>


{{#section 'script'}}
    <!-- jquery
		============================================ -->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="/js/metisMenu/metisMenu.min.js"></script>
    <script src="/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/js/sparkline/jquery.charts-sparkline.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="/js/calendar/moment.min.js"></script>
    <script src="/js/calendar/fullcalendar.min.js"></script>
    <script src="/js/calendar/fullcalendar-active.js"></script>
    <!-- form validate JS
		============================================ -->
    <script src="/js/form-validation/jquery.form.min.js"></script>
    <script src="/js/form-validation/jquery.validate.min.js"></script>
    <script src="/js/form-validation/form-active.js"></script>
    <!-- tab JS
		============================================ -->
    <script src="/js/tab.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/js/plugins.js"></script>
  
    <!-- main JS
		============================================ -->
    <script src="/js/numeral.js"></script>
	<script src="/js/main.js"></script>
 	<script src="/js/util/color.js"></script>
	<script src="/js/util/ajaxAPI.js"></script>
	<script src="/js/util/alert.js"></script>
    <script>
		const rule = {{{json rule}}}
		console.log(rule)
		$(document).ready(function(){
			document.getElementById("add-guest-type-btn").addEventListener("click", (e)=>{
				const guestType = {};
				guestType.name = $("#add-guest-type-name").val();
				guestType.coefficient = $("#add-coefficient").val();
				console.log(guestType);
				fetchData("post", guestType, "/rule/guest-type/add/api", (data)=>{
					console.log(data);
					if(data.success){
						createAlert("success", data.message);
						const n = document.getElementsByClassName("guest-type-row").length;
						
						$("#table-body").append(`
							<tr class="guest-type-row" id="guest-type-${data.data.id}">
								<td>${n + 1}</td>
								<td>${data.data.typeName}</td>
								<td>${data.data.coefficient}</td>
								<td>
									<button data-id="${data.data.id}" title="Cập nhật" class="pd-setting-ed" data-toggle="modal" data-target="#edit-guest-type-modal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
									<button data-id="${data.data.id}" title="Xóa" class="pd-setting-ed" data-toggle="modal" data-target="#delete-guest-type-modal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
								</td>
							</tr>
						`)
					}
					else{
						createAlert("error", data.message);
					}
					$('#add-guest-type-modal').modal('hide')
				}, (error)=>{
					console.log(error);
					createAlert("error", "Có lỗi xảy ra, vui lòng thử lại!");
				});
			})
		})
    </script>
{{/section}}