{{#section 'head'}}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hotel Transylvania</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/css/main.css">
	 <!-- modals CSS
		============================================ -->
    <link rel="stylesheet" href="/css/modals.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/educate-custon-icon.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/css/calendar/fullcalendar.print.min.css">
    <!-- forms CSS
		============================================ -->
    <link rel="stylesheet" href="/css/form/all-type-forms.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
	<link rel="stylesheet" href="/css/my-css.css">
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
{{/section}}

<div class="container-fluid mg-b-15" style="display: flex; flex-direction:column;  width: 100%">
	<div class="product-status-wrap mg-b-10 mg-t-10" style="padding: 20px">
		<ul id="myTabedu1" class="tab-review-design" style="padding:0 0 10px 0;">
			<li class="active"><a href="#guest-type">Thay đổi loại khách</a></li>
			<li><a href="#room-type"> Thay đổi loại phòng</a></li>
			<li><a href="#other-rule">Thay đổi các quy định khác</a></li>
		</ul>
	</div>
	<div id="myTabContent" class="tab-content custom-product-edit" style="height: 100%; background: none">
		<div class="product-tab-list tab-pane fade active in my-tab-pane" style="height: 100%;" id="guest-type">
			<div class="product-status-wrap" style="flex: 1 1 auto; display: flex; flex-direction: column">
				<div class="asset-inner" style="flex: 1 1 auto;">
					<table>
						<thead>
							<tr>
								<th>STT</th>
								<th>Loại khách</th>
								<th>Hệ số</th>
								<th>Hành động</th>
							</tr>
						</thead>
						<tbody id="table-body-guest">
							{{#each rule.guestTypes}}
								<tr class="guest-type-row" id="guest-type-{{this.id}}">
									<td>{{sum @index 1}}</td>
									<td>{{this.typeName}}</td>
									<td>{{this.coefficient}}</td>
									<td>
										<button data-id="{{this.id}}" title="Cập nhật" class="pd-setting-ed" data-toggle="modal" data-target="#edit-guest-type-modal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
										<button data-id="{{this.id}}" title="Xóa" class="pd-setting-ed" data-toggle="modal" data-target="#delete-guest-type-modal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
									</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
				<div style="display: flex; justify-content: space-between">
					<div></div>
					<button class="btn btn-primary waves-effect waves-light" type="button" data-toggle="modal" data-target="#add-guest-type-modal">Thêm loại khách</button>
				</div>
				<div  id="delete-guest-type-modal" class="modal modal-edu-general FullColor-popup-DangerModal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-close-area modal-close-df">
								<a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
							</div>
							<div class="modal-body">
								<span class="educate-icon educate-danger modal-check-pro information-icon-pro"></span>
								<h2 id="edit-room-type-modal-text">Xóa loại khách này?</h2>
								<!-- <p>If you delete this product, they can not access the shop's website anymore.</p> -->
							</div>
							<div class="modal-footer danger-md">
								<button class="btn btn-danger " type="button" data-dismiss="modal">Hủy</button>
								<button class="btn btn-danger" id="delete-guest-type-btn" type="button" data-dismiss="modal">Xóa</button>
							</div>
						</div>
					</div>
				</div>
				<div  id="edit-guest-type-modal" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header header-color-modal bg-color-1" style="padding: 15px;">
								<h4 class="modal-title" style="margin-bottom: 0; color: white">Cập nhật loại khách</h4>
								<div class="modal-close-area modal-close-df">
									<a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
								</div>
							</div>
							<div class="modal-body" style="padding: 0; text-align: left">
								<div style="padding: 20px; background-color: white;">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<label for="edit-guest-type-name">Loại khách</label>
												<input id="edit-guest-type-name" name="guestType" type="text" class="form-control" required maxlength="255" placeholder="Loại khách">
											</div>  
											<div class="form-group">
												<label for="edit-coefficient">Hệ số</label>
												<input id="edit-coefficient" name="coefficient" type="text" class="form-control" required maxlength="255" placeholder="Hệ số">
											</div> 
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary waves-effect waves-light" type="button" data-dismiss="modal">Hủy</button>
								<button class="btn btn-primary waves-effect waves-light" type="button" data-dismiss="modal" id="edit-guest-type-btn">Lưu</button>
							</div>
						</div>
					</div>
				</div>
				<div  id="add-guest-type-modal" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header header-color-modal bg-color-1" style="padding: 15px;">
								<h4 class="modal-title" style="margin-bottom: 0; color: white">Thêm loại khách</h4>
								<div class="modal-close-area modal-close-df">
									<a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
								</div>
							</div>
							<div class="modal-body" style="padding: 0; text-align: left">
								<div style="padding: 20px; background-color: white;">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<label for="add-guest-type-name">Loại khách</label>
												<input id="add-guest-type-name" name="guestType" type="text" class="form-control" required maxlength="255" placeholder="Loại khách">
											</div>  
											<div class="form-group">
												<label for="add-coefficient">Hệ số</label>
												<input id="add-coefficient" name="coefficient" type="text" class="form-control" required maxlength="255" placeholder="Hệ số">
											</div> 
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary waves-effect waves-light" type="button" data-dismiss="modal">Hủy</button>
								<button class="btn btn-primary waves-effect waves-light" type="button" id="add-guest-type-btn">Thêm</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="product-tab-list tab-pane fade my-tab-pane" style="height: 100%;" id="room-type">
			<div class="product-status-wrap" style="flex: 1 1 auto; display: flex; flex-direction: column">
				<div class="asset-inner" style="flex: 1 1 auto;">
					<table>
						<thead>
							<tr>
								<th>STT</th>
								<th>Loại phòng</th>
								<th>Đơn giá</th>
								<th>Hành động</th>
							</tr>
						</thead>
						<tbody id="table-body-room">
							{{#each rule.roomTypes}}
								<tr>
									<td>{{sum @index 1}}</td>
									<td>{{this.typeName}}</td>
									<td>{{currency this.price}}</td>
									<td>
										<button data-id="{{this.id}}" title="Cập nhật" class="pd-setting-ed" data-toggle="modal" data-target="#edit-room-type-modal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
										<button data-id="{{this.id}}" title="Xóa" class="pd-setting-ed" data-toggle="modal" data-target="#delete-room-type-modal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
									</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
				<div style="display: flex; justify-content: space-between">
					<div></div>
					<button class="btn btn-primary waves-effect waves-light" type="button" data-toggle="modal" data-target="#add-room-type-modal">Thêm loại phòng</button>
				</div>
				<div  id="delete-room-type-modal" class="modal modal-edu-general FullColor-popup-DangerModal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-close-area modal-close-df">
								<a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
							</div>
							<div class="modal-body">
								<span class="educate-icon educate-danger modal-check-pro information-icon-pro"></span>
								<h2 id="delete-room-type-modal-text">Xóa loại phòng này?</h2>
								<!-- <p>If you delete this product, they can not access the shop's website anymore.</p> -->
							</div>
							<div class="modal-footer danger-md">
								<button class="btn btn-danger " type="button" data-dismiss="modal">Hủy</button>
								<button class="btn btn-danger" id="delete-room-type-btn" data-dismiss="modal" type="button">Xóa</button>
							</div>
						</div>
					</div>
				</div>
				<div  id="edit-room-type-modal" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header header-color-modal bg-color-1" style="padding: 15px;">
								<h4 class="modal-title" style="margin-bottom: 0; color: white">Cập nhật loại phòng</h4>
								<div class="modal-close-area modal-close-df">
									<a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
								</div>
							</div>
							<div class="modal-body" style="padding: 0; text-align: left">
								<div style="padding: 20px; background-color: white;">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<label for="edit-room-type-name">Loại phòng</label>
												<input id="edit-room-type-name" name="roomType" type="text" class="form-control" required maxlength="255" placeholder="Loại phòng">
											</div>  
											<div class="form-group">
												<label for="edit-price">Đơn giá</label>
												<input id="edit-price" name="price" type="text" class="form-control" required maxlength="255" placeholder="Đơn giá">
											</div> 
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary waves-effect waves-light" type="button" data-dismiss="modal">Hủy</button>
								<button class="btn btn-primary waves-effect waves-light" type="button" data-dismiss="modal" id="edit-room-type-btn">Lưu</button>
							</div>
						</div>
					</div>
				</div>
				<div  id="add-room-type-modal" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header header-color-modal bg-color-1" style="padding: 15px;">
								<h4 class="modal-title" style="margin-bottom: 0; color: white">Thêm loại phòng</h4>
								<div class="modal-close-area modal-close-df">
									<a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
								</div>
							</div>
							<div class="modal-body" style="padding: 0; text-align: left">
								<div style="padding: 20px; background-color: white;">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<label for="add-room-type-name">Loại phòng</label>
												<input id="add-room-type-name" name="roomType" type="text" class="form-control" required maxlength="255" placeholder="Loại phòng">
											</div>  
											<div class="form-group">
												<label for="add-price">Đơn giá</label>
												<input id="add-price" name="price" type="text" class="form-control" required maxlength="255" placeholder="Đơn giá">
											</div> 
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary waves-effect waves-light" type="button" data-dismiss="modal">Hủy</button>
								<button class="btn btn-primary waves-effect waves-light" type="button" data-dismiss="modal" id="add-room-type-btn">Thêm</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="product-tab-list tab-pane fade my-tab-pane" style="height: 100%;" id="other-rule">
			<div class="product-status-wrap" style="flex: 1 1 auto; display: flex; flex-direction: column; margin-bottom: 8px; align-items: flex-end;">
				<div class="form-group" style="width: 100%;">
					<label>Số khách tối đa mỗi phòng:</label>
					<input required="" name="maximumGuest" type="number" class="form-control" placeholder="Số khách tối đa" value="{{rule.maximumGuest}}">
				</div>
				<button class="btn btn-primary waves-effect waves-light" type="button" id="update-maximum-guest">Xác nhận</button>
			</div>
			<div class="product-status-wrap" style="flex: 1 1 auto; display: flex; flex-direction: column; margin-top: 8px; align-items: flex-end;">
				<div class="form-group" style="width: 100%;"style="width: 100%;">
					<label>Phụ thu từ khách thứ:</label>
					<input required="" name="surchargeFrom" type="number" class="form-control" placeholder="Phụ thu từ khách thứ" value="{{rule.surchargeFrom}}" >
				</div>
				<div class="form-group" style="width: 100%;">
					<label>Tỉ lệ phụ thu:</label>
					<input required="" name="surchagre" type="number" step="0.1" class="form-control" placeholder="Tỉ lệ phụ thu" value="{{rule.surcharge}}" >
				</div>
				<button class="btn btn-primary waves-effect waves-light" type="button" id="update-surchagre">Xác nhận</button>
			</div>
		</div>
	</div>
</div>


{{#section 'script'}}
    <!-- jquery
		============================================ -->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="/js/metisMenu/metisMenu.min.js"></script>
    <script src="/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/js/sparkline/jquery.charts-sparkline.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="/js/calendar/moment.min.js"></script>
    <script src="/js/calendar/fullcalendar.min.js"></script>
    <script src="/js/calendar/fullcalendar-active.js"></script>
    <!-- form validate JS
		============================================ -->
    <script src="/js/form-validation/jquery.form.min.js"></script>
    <script src="/js/form-validation/jquery.validate.min.js"></script>
    <script src="/js/form-validation/form-active.js"></script>
    <!-- tab JS
		============================================ -->
    <script src="/js/tab.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/js/plugins.js"></script>
  
    <!-- main JS
		============================================ -->
    <script src="/js/numeral.js"></script>
	<script src="/js/main.js"></script>
 	<script src="/js/util/color.js"></script>
	<script src="/js/util/ajaxAPI.js"></script>
	<script src="/js/util/alert.js"></script>
    <script>
		let rule = {{{json rule}}}
		console.log(rule)
		const renderGuestType = (type, n) => {
			return `
						<tr class="guest-type-row" id="guest-type-${type.id}">
							<td>${n + 1}</td>
							<td>${type.typeName}</td>
							<td>${type.coefficient}</td>
							<td>
								<button data-id="${type.id}" title="Cập nhật" class="pd-setting-ed" data-toggle="modal" data-target="#edit-guest-type-modal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
								<button data-id="${type.id}" title="Xóa" class="pd-setting-ed" data-toggle="modal" data-target="#delete-guest-type-modal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
							</td>
						</tr>
					`
		}
		const renderRoomType = (type, n) => {
			return `
						<tr class="room-type-row" id="room-type-${type.id}">
							<td>${n + 1}</td>
							<td>${type.typeName}</td>
							<td>${numeral(type.price).format('0,0') + " VND"}</td>
							<td>
								<button data-id="${type.id}" title="Cập nhật" class="pd-setting-ed" data-toggle="modal" data-target="#edit-room-type-modal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
								<button data-id="${type.id}" title="Xóa" class="pd-setting-ed" data-toggle="modal" data-target="#delete-room-type-modal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
							</td>
						</tr>
					`
		}

		
		$(document).ready(function(){
			//add guest type
			document.getElementById("add-guest-type-btn").addEventListener("click", (e)=>{
				const guestType = {};
				guestType.name = $("#add-guest-type-name").val();
				guestType.coefficient = $("#add-coefficient").val();
				fetchData("post", guestType, "/rule/guest-type/add/api", (data)=>{
					if(data.success){
						createAlert("success", data.message);
						const n = document.getElementsByClassName("guest-type-row").length;
						rule.guestTypes.push(data.data);
						$("#table-body-guest").append(renderGuestType(data.data, n))
					}
					else{
						createAlert("error", data.message);
					}
					$('#add-guest-type-modal').modal('hide')
				}, (error)=>{
					console.log(error);
					createAlert("error", "Có lỗi xảy ra, vui lòng thử lại!");
				});
			})
		
			//edit guest type
			let seletedType = null;
			$('#edit-guest-type-modal').on('show.bs.modal', function (event) {
				const button = $(event.relatedTarget)
				const id = button.data('id')
				const modal = $(this);
				seletedType = rule.guestTypes.filter((type)=> type.id === id)[0];
				modal.find('#edit-guest-type-name').val(seletedType.typeName);
				modal.find('#edit-coefficient').val(seletedType.coefficient);
			});
			document.getElementById("edit-guest-type-btn").addEventListener("click", (e)=>{
				if(!seletedType){
					return;
				}
				const guestType = {};
				guestType.name = $("#edit-guest-type-name").val();
				guestType.coefficient = $("#edit-coefficient").val();
				guestType.id = seletedType.id;

				fetchData("post", guestType, "/rule/guest-type/edit/api", (data)=>{
					console.log(data);
					if(data.success){
						createAlert("success", data.message);
						const n = rule.guestTypes.length;
						for(let i = 0; i < n; i++){
							if(rule.guestTypes[i].id === guestType.id){
								rule.guestTypes[i] = {...guestType, typeName: guestType.name};
								break;
							}
						}
						$("#table-body-guest").empty();
						for(let i = 0; i < n; i++){
							$("#table-body-guest").append(renderGuestType(rule.guestTypes[i], i));
						}
					}
					else{
						createAlert("error", data.message);
					}
				}, (error)=>{
					console.log(error);
					createAlert("error", "Có lỗi xảy ra, vui lòng thử lại!");
				});
				
			})
			
			//delete guest type
			$('#delete-guest-type-modal').on('show.bs.modal', function (event) {
				const button = $(event.relatedTarget)
				const id = button.data('id')
				const modal = $(this);
				seletedType = rule.guestTypes.filter((type)=> type.id === id)[0];
			});
			document.getElementById("delete-guest-type-btn").addEventListener("click", (e)=>{
				if(!seletedType){
					return;
				}
				fetchData("post", {id: seletedType.id}, "/rule/guest-type/delete/api", (data)=>{
					if(data.success){
						createAlert("success", data.message);
						rule.guestTypes = rule.guestTypes.filter((rule)=> rule.id !== seletedType.id);
						const n = rule.guestTypes.length;
						$("#table-body-guest").empty();
						for(let i = 0; i < n; i++){
							$("#table-body-guest").append(renderGuestType(rule.guestTypes[i], i));
						}
					}
					else{
						createAlert("error", data.message);
					}
				}, (error)=>{
					console.log(error);
					createAlert("error", "Có lỗi xảy ra, vui lòng thử lại!");
				});
			})


			//add room type
			document.getElementById("add-room-type-btn").addEventListener("click", (e)=>{
				const roomType = {};
				roomType.name = $("#add-room-type-name").val();
				roomType.price = $("#add-price").val();
				fetchData("post", roomType, "/rule/room-type/add/api", (data)=>{
					if(data.success){
						createAlert("success", data.message);
						const n = document.getElementsByClassName("room-type-row").length;
						rule.roomTypes.push(data.data);
						$("#table-body-room").append(renderRoomType(data.data, n))
					}
					else{
						createAlert("error", data.message);
					}
				}, (error)=>{
					console.log(error);
					createAlert("error", "Có lỗi xảy ra, vui lòng thử lại!");
				});
			})
		
			//edit room type
			$('#edit-room-type-modal').on('show.bs.modal', function (event) {
				const button = $(event.relatedTarget)
				const id = button.data('id')
				const modal = $(this);
				seletedType = rule.roomTypes.filter((type)=> type.id === id)[0];
				modal.find('#edit-room-type-name').val(seletedType.typeName);
				modal.find('#edit-price').val(seletedType.price);
			});
			document.getElementById("edit-room-type-btn").addEventListener("click", (e)=>{
				if(!seletedType){
					return;
				}
				const roomType = {};
				roomType.name = $("#edit-room-type-name").val();
				roomType.price = $("#edit-price").val();
				roomType.id = seletedType.id;
				console.log(roomType)
				fetchData("post", roomType, "/rule/room-type/edit/api", (data)=>{
					console.log(data);
					if(data.success){
						createAlert("success", data.message);
						const n = rule.roomTypes.length;
						console.log(rule.roomTypes)
						console.log(data.data)
						for(let i = 0; i < n; i++){
							if(rule.roomTypes[i].id === roomType.id){
								rule.roomTypes[i] = {...roomType, typeName: roomType.name};
								break;
							}
						}
						$("#table-body-room").empty();
						for(let i = 0; i < n; i++){
							$("#table-body-room").append(renderRoomType(rule.roomTypes[i], i));
						}
					}
					else{
						createAlert("error", data.message);
					}
				}, (error)=>{
					console.log(error);
					createAlert("error", "Có lỗi xảy ra, vui lòng thử lại!");
				});
				
			})
			
			//delete room type
			$('#delete-room-type-modal').on('show.bs.modal', function (event) {
				const button = $(event.relatedTarget)
				const id = button.data('id')
				const modal = $(this);
				seletedType = rule.roomTypes.filter((type)=> type.id === id)[0];
			});
			document.getElementById("delete-room-type-btn").addEventListener("click", (e)=>{
				if(!seletedType){
					return;
				}
				fetchData("post", {id: seletedType.id}, "/rule/room-type/delete/api", (data)=>{
					if(data.success){
						createAlert("success", data.message);
						rule.roomTypes = rule.roomTypes.filter((rule)=> rule.id !== seletedType.id);
						const n = rule.roomTypes.length;
						$("#table-body-room").empty();
						for(let i = 0; i < n; i++){
							$("#table-body-room").append(renderRoomType(rule.roomTypes[i], i));
						}
					}
					else{
						createAlert("error", data.message);
					}
				}, (error)=>{
					console.log(error);
					createAlert("error", "Có lỗi xảy ra, vui lòng thử lại!");
				});
			})

			//update maximum guest
			document.getElementById("update-maximum-guest").addEventListener("click", (e)=>{
				const maximumGuest = $("input[name='maximumGuest']").val();
				fetchData("post", {maximumGuest}, '/rule/common-rule/maximum-guest/api', (data)=>{
					if(data.success){
						createAlert("success", data.message);
					}
					else{
						createAlert("error", data.message);
					}
				},(error)=>{
					console.log(error);
					createAlert("error", "Có lỗi xảy ra, vui lòng thử lại!");
				})
			})

			//update-surchagre
			document.getElementById("update-surchagre").addEventListener("click", (e)=>{
				const surchargeFrom = $("input[name='surchargeFrom']").val();
				const surcharge = $("input[name='surchagre']").val();
				fetchData("post", {surcharge, surchargeFrom}, '/rule/common-rule/surcharge/api', (data)=>{
					if(data.success){
						createAlert("success", data.message);
					}
					else{
						createAlert("error", data.message);
					}
				},(error)=>{
					console.log(error);
					createAlert("error", "Có lỗi xảy ra, vui lòng thử lại!");
				})
			})
		})
    </script>
{{/section}}